.board {

    /*   *   *   *   *   *   *   *   *   *   */

    @include theme( $color-font, $color-background );
    @include transition();

    /*   *   *   *   *   *   *   *   *   *   */

    display: grid;
    gap: 5px;
    
    width: 90vw;
    height: 90vw;
    
    max-width: 512px;
    max-height: 512px;

    /*   *   *   *   *   *   *   *   *   *   */
    .field {

        @include theme();
        position: relative;

        /*   *   *   *   *   *   *   *   */
        
        &::before, &::after {

            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
        }

        &.__O::before {

            border: 10px solid black;
            border-radius: 100%;

            display: block;
            transform: translateX( -50% ) translateY( -50% );
            height: 50%;
            width: 50%;
        }

        &.__X::before {

            border: 5px solid black;

            display: block;
            transform: translateX( -50% ) translateY( -50% ) rotate( 45deg ); 
            width: 75%;
        }

        &.__X::after {

            border: 5px solid black;

            display: block;
            transform: translateX( -50% ) translateY( -50% ) rotate( -45deg );
            height: 0;
            width: 75%;
        }
    }
}